<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h2>Redirecting to Payment...</h2>

<script th:inline="javascript">
    var options = {
        "key": [[${order.keyId}]],
        "amount": [[${order.amount}]] * 100,
        "currency": [[${order.currency}]],
        "name": [[${order.productName}]],
        "order_id": [[${order.orderId}]],
        "handler": function (response){
            window.location.href = "/success";
        },
        "prefill": {
            "name": [[${order.customerName}]],
            "email": [[${order.customerEmail}]]
        },
        "theme": {
            "color": "#3399cc"
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
</script>

</body>
</html>